//colors
$main-color: #b11828;
$shadow-color: rgb(87, 7, 15);
$shadow-color-op: rgba(71, 5, 10, 0.896);

$light: #ebebeb;
$border: #a8acb0;
$border-dark: darken($border, 20%);
$screen-off: #171616;
$dark: rgb(11, 11, 11);
$dark-lighten: lighten($dark, 20%);
$tecno-background: #2e5631;
$light-tecno-background: #376e3b;
$dark-font: #061206;
